<div id="audio" class="container-wrapper">
	<h2><%= section.event %></h2>

	<%= audio_tag (section.audio.music), class: "player", controls: false, autoplay: false, preload: true %>

	<button id="door-btn" data-id="6" class="event-btn play">	
	</button>
</div>

