<!-- Begin Top Row Content -->
<div class="ipad-row">
  <div class="grid-item">
    <%= @main_section.render if @main_section %>
  </div>
  <div>
    <%@second_section.each do |section| %>
      <div class="grid-item">
        <%= render partial: section.raw_event, locals: {section: section} if section %>
      </div>
    <% end %>
<div class="clear"></div>
  </div>

</div>
<!-- End Top Row Content -->
<!-- Begin Second Row Content -->

  <div class="ipad-row">
    <div>
    <%@third_section.each do |section| %>
    <div id="bottom-row" class="grid-item">
      <%= render partial: section.raw_event, locals: {section: section} if section %>
    </div>
    <% end %>
    </div>
  </div>
  
<!-- End Second Row Content -->




<!--   <%= render partial: 'no_sections' if @no_sections_found %> -->
