<div class="container-wrapper">
	<h2><%= section.event %></h2>

	<%= audio_tag (section.audio.music), class: "player", controls: false, autoplay: false, preload: true %>
	<button id="light-btn" data-id="4" class="event-btn play">
	</button>
</div>