<div class="container-wrapper">
	<h2><%= section.event %></h2>
	<%= audio_tag (section.audio.music), class: "player", controls: false, autoplay: false, preload: true %>
	<button data-id="5" class="event-btn play">
		<%= image_tag("outdoorcamera_active.png", class: "img-swap") %>
	</button>
</div>
