<!-- 
	<audio id="myTune">
		<source src="http://192.254.184.234/~tangh/01_admin_resources/Shimmer/ogg/Smile.ogg" type="audio/ogg"></source>
	    <source src="http://192.254.184.234/~tangh/01_admin_resources/Shimmer/mp3/Smile.mp3" type="audio/mpeg"></source>
	</audio>
	    <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Preview" onclick="aud_play_pause()">
	    	  <i id="stateicon" class="fa fa-play"></i>
	    </a> -->


<div class="container-wrapper">
	<h2><%= section.event %></h2>
	<button class="event-btn">
		<%= image_tag("temperature_btn.png", class: "img-swap") %>
	</button>
</div>
