<div class="container-wrapper">
	<h2><%= section.event %></h2>
	<% if section.audio.music.present? %>
		<%= audio_tag (section.audio.music), class: "player", controls: false, autoplay: false, preload: true %>
	<% end %>
	<button id="thermostat-btn" data-id="1" class="event-btn play">
	</button>
</div>
