<div class="container-wrapper">
	<h2><%= section.event %></h2>
	<button class="event-btn" id="sound">
		<%= image_tag("water_btn.png", :id => "water-event-btn", class: "img-swap") %>
	</button>
</div>