
<div class="logo-wrap">
	<%= image_tag ("attdigitallife_logo.png"), class: "logo" %>
</div>

<div id="ipad-container">
    <div class="ipad-image">
    	<%= render "ipadnav" %>
		<%= render "flexbox" %>
    </div>
</div>

<!-- Mute Button -->

<div class="mute-wrap">
     <input id="mutebutton" class="native-hidden" type="checkbox" />
</div>
<!-- End Mute Button -->

<!-- Start Call to Action -->

<div class="text-wrap">
	<div class="call-to-action">
		<h1>Tap a Button Above to Experience AT&T Digital Life.</h1>
	</div>
</div>

<!-- End Call to Action -->